.todo-item-wrapper {
  border: 1px solid #000;
  border-radius: 8px;
  padding: 10px;
  margin: 10px 0;
  background: #0f4f66;
  background: linear-gradient(
    340deg,
    rgba(15, 79, 102, 1) 0%,
    rgba(192, 193, 207, 1) 50%,
    rgba(83, 216, 237, 1) 100%
  );
  color: #000;
  text-align: left;
  min-width: 250px;
  min-height: 130px;
  padding: 10px;
  margin: 10px;
}
.todo-title,
.todo-completed,
.todo-item-btns {
  font-size: 16px;
  font-weight: bold;
  margin: 10px 0;
  text-transform: uppercase;
}
.todo-title,
.todo-item-editing-block > input {
  white-space: nowrap;
  text-overflow: ellipsis;
  cursor: pointer;
}
.todo-completed-text,
.todo-title-text {
  font-weight: bold;
  color: #d607d9;
  text-transform: none;
}
.todo-title-text {
  width: 175px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.todo-item-btns {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 10px;
}
.todo-edit-btn,
.todo-del-btn,
.todo-status-btn {
  font-weight: bold;
  &:hover {
    background-color: #f0f0f0;
    color: #333;
  }
}

.todo-status-text {
  color: #d607d9;
  text-transform: none;
  margin-left: 5px;
}
.todo-item-editing-block {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.todo-item-editing-btns {
  & > button:hover {
    background-color: #f0f0f0;
    color: #333;
  }
  & > button:first-child {
    margin-right: 5px;
  }
  & > button {
    border: 1px solid #ccc;
  }
  margin-top: 25px;
}
.todo-item-editing-input {
  margin-top: 8px;
  height: 35px;
  width: 95%;
  border-radius: 8px;
  padding: 5px;
  font-size: 16px;
  background-color: transparent;
  color: #000;
}
.truncated-text {
  display: inline-block;
  max-width: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tooltip {
  position: absolute;
  top: -5px;
  left: 0;
  background: #fff;
  padding: 4px;
  border-radius: 6px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  z-index: 999;
}

.todo-title {
  position: relative;
  display: flex;
  height: 30px;
}
.todo-title-text-span {
  margin-right: 5px;
}
